data
.env
WebScrap/venv/

WebScrap/src/themes/

WebScrap/themes/

Mongo/themes/

Mongo/node_modules/

Mongo/dist/

Embedding/.vscode/

Embedding/__pycache__/

Embedding/notebooks/GloVe/

Embedding/notebooks/encoder/

Embedding/tokens

Embedding/notebooks/InferSent/

!Embedding/notebooks/InferSent/infer_sent.ipynb
